.molecule {
  height: 100%;
  width: 100%;
}
.box_2 {
  background-color: #001529;
  border-radius: 8px;
  height: 100%;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  width: 100%;
}
.dashboardmenuitem_1 {
  height: auto;
  width: 100%;
}
.dashboardmenuitem_2 {
  height: auto;
  width: 100%;
}
