.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  cursor: pointer;
}

.box_2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  height: 43%;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.herosection_1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  height: 77px;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.box_12 {
  align-self: stretch;
  flex: none;
  flex-grow: 0px;
  height: 640px;
  position: relative;
  width: 100%;
}

.image_4 {
  /* bottom: 2%; */
  height: 100%;
  /* left: 2%; */
  position: absolute;
  /* right: 2%;
  top: 2%; */
  width: 100%;
}

.image_5 {
  height: 640px;
  left: 0px;
  position: absolute;
  top: 0.39990234375px;
  width: 100%;
}

.box_13 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 43px;
  height: 640px;
  justify-content: center;
  left: 0px;
  padding-left: 140px;
  padding-right: 140px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.box_14 {
  align-items: flex-start;
  align-self: stretch;
  /* background-color: #60a8ec; */
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  gap: 44px;
  height: 200px;
  justify-content: center;
  padding-bottom: 33px;
  padding-left: 84px;
  padding-right: 84px;
  padding-top: 33px;
  position: relative;
  width: 100%;
}

.box_14_footer {
  align-items: flex-start;
  align-self: stretch;
  background-color: #60a8ec;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  gap: 44px;
  height: 200px;
  justify-content: center;
  padding-bottom: 33px;
  padding-left: 84px;
  padding-right: 84px;
  padding-top: 33px;
  position: relative;
  width: 100%;
}


.text_4 {
  align-self: stretch;
  color: #ffffff;
  flex: none;
  flex-grow: 0px;
  font-family: Baloo Bhai;
  font-size: 61px;
  font-weight: 400;
  line-height: 67px;
  position: relative;
  text-align: center;
  vertical-align: top;
}

.text_5 {
  align-self: stretch;
  color: #ffffff;
  flex: none;
  flex-grow: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  text-align: left;
  vertical-align: top;
}

.box_1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 4px;
  height: 120px;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  width: 100%;
}

.form_0 {
  gap: 10px;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 66px;
  justify-content: flex-start;
  margin-top: 15;
  max-width: 1160px;
  width: 100%;
}

.box_76 {
  background-color: #ffffff;
  border-radius: 10px;
  height: 56px;
  margin-right: 10;
  min-height: px;
  width: 305px;
}

.input_search_name_input {
  background-color: white;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  font-weight: 500;
  height: 56px;
  width: 305px;
}

.input_search_name {
  background-color: transparent;
  margin-right: 20;
  width: 100%;
}

.box_77 {
  background-color: #ffffff;
  height: 56px;
  margin-right: 10px;
  min-height: px;
  width: 305px;
}

.input_search_address_input {
  background-color: white;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  font-weight: 500;
  height: 56px;
  width: 305px;
}

.input_search_address {
  background-color: transparent;
  margin-right: 20;
  width: 100%;
}

.box_78 {
  background-color: #ffffff;
  height: 56px;
  min-height: px;
  width: 305px;
}

.datetimepicker_1_container {
  height: 56px;
  width: 305px;
}

.datetimepicker_1 {
  border-color: #d9d9d9;
  color: #000;
  height: 56px;
  width: 305px;
}

.button_1 {
  background-color: #f99a0e;
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 56px;
  margin-left: 10px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  width: 164px;
  cursor: pointer;
}

.box_41 {
  align-items: flex-start;
  /* display: flex; */
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  left: 0.29296875px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  /* position: absolute; */
  right: 0.293487548828125px;
  top: 0px;
  width: 100%;
}

.box_55 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 10px;
  height: auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.box_56 {
  /* margin-left: 58px; */
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.box_57 {
  align-items: flex-start;
  background-color: #ffffff;
  border-radius: 31px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  gap: 10px;
  height: 24px;
  justify-content: flex-start;
  position: relative;
  width: 400px;
}

.button_3 {
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  width: auto;
}

.button_3_text_0 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
}

.button_4 {
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: auto;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  width: auto;
}

.button_4_text_0 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  word-break: break-word;
}

.box_59 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  height: auto;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.box_72 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 1px;
  height: 327px;
  justify-content: flex-start;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 320px;
}

.image_17 {
  align-self: stretch;
  flex: none;
  flex-grow: 0px;
  height: 242px;
  position: relative;
  width: 288px;
}

.box_73 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-bottom-color: #eaeaea;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #eaeaea;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #eaeaea;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #eaeaea;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 12px;
  height: 85px;
  justify-content: center;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  position: relative;
  width: 288px;
}

.box_74 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  height: 45px;
  justify-content: flex-start;
  position: relative;
  width: 256px;
}

.box_75 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 1px;
  gap: 3px;
  height: 45px;
  justify-content: flex-start;
  position: relative;
  width: 186px;
}

.text_40 {
  align-self: stretch;
  color: #414141;
  flex: none;
  flex-grow: 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0%;
  line-height: normal;
  position: relative;
  text-align: left;
  vertical-align: top;
}

.text_41 {
  align-self: stretch;
  color: #999999;
  flex: none;
  flex-grow: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: normal;
  position: relative;
  text-align: left;
  vertical-align: top;
}

.text_42 {
  color: #1262af;
  flex: none;
  flex-grow: 0px;
  font-family: Baloo Bhai;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  position: relative;
  text-align: right;
  vertical-align: top;
}

.box_33 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 24px;
  height: 268px;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.box_3 {
  margin-left: 7px;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  height: 35px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.box_4 {
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 1px;
  height: 35px;
  position: relative;
  width: 8%;
}

.text_1 {
  align-content: center;
  align-items: center;
  align-self: center;
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  justify-content: center;
  left: 0px;
  letter-spacing: 0%;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  vertical-align: top;
}

.box_38 {
  margin-left: -15px;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  height: 182px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.box_39 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 10px;
  height: 182px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 320px;
}

.box_40 {
  align-self: stretch;
  border-radius: 10px;
  flex: none;
  flex-grow: 0px;
  height: 182px;
  position: relative;
  width: 288px;
}

.image_9 {
  height: 182px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 288px;
}

.text_17 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  vertical-align: top;
}

.box_42 {
  flex: none;
  flex-grow: 0px;
  height: 59px;
  position: relative;
  width: 90px;
}

.text_18 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 78.7578125px;
  vertical-align: top;
}

.text_19 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 109.7578125px;
  vertical-align: top;
}

.box_43 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 10px;
  height: 182px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 320px;
}

.box_44 {
  align-self: stretch;
  border-radius: 10px;
  flex: none;
  flex-grow: 0px;
  height: 182px;
  position: relative;
  width: 288px;
}

.image_10 {
  height: 182px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 288px;
}

.box_45 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: flex-start;
  left: 0.29296875px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  position: absolute;
  right: 0.293487548828125px;
  top: 0px;
  width: 287px;
}

.text_20 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 140.7578125px;
  vertical-align: top;
}

.box_46 {
  flex: none;
  flex-grow: 0px;
  height: 59px;
  position: relative;
  width: 99px;
}

.text_21 {
  color: #ffffff;
  font-family: Baloo Bhai;
  font-size: 38px;
  font-weight: 400;
  left: 0px;
  line-height: 38px;
  position: absolute;
  text-align: right;
  top: 21px;
  vertical-align: top;
}

.text_22 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 47.3896484375px;
  letter-spacing: 0%;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  vertical-align: top;
}

.box_47 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 10px;
  height: 182px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 320px;
}

.box_48 {
  align-self: stretch;
  border-radius: 10px;
  flex: none;
  flex-grow: 0px;
  height: 182px;
  position: relative;
  width: 288px;
}

.image_11 {
  height: 182px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 288px;
}

.box_49 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: flex-start;
  left: 0.29296875px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  position: absolute;
  right: 0.293487548828125px;
  top: 0px;
  width: 287px;
}

.text_23 {
  color: #ffffff;
  flex: none;
  flex-grow: 1px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: normal;
  position: relative;
  text-align: left;
  vertical-align: top;
}

.box_50 {
  flex: none;
  flex-grow: 0px;
  height: 59px;
  position: relative;
  width: 90px;
}

.text_24 {
  color: #ffffff;
  font-family: Baloo Bhai;
  font-size: 38px;
  font-weight: 400;
  left: 0px;
  line-height: 38px;
  position: absolute;
  text-align: right;
  top: 21px;
  vertical-align: top;
}

.text_25 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 38.3896484375px;
  letter-spacing: 0%;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  vertical-align: top;
}

.box_51 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 10px;
  height: 182px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  width: 320px;
}

.box_52 {
  align-self: stretch;
  border-radius: 10px;
  flex: none;
  flex-grow: 0px;
  height: 182px;
  position: relative;
  width: 288px;
}

.image_12 {
  height: 182px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 288px;
}

.box_53 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: flex-start;
  left: 0.29296875px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  position: absolute;
  right: 0.293487548828125px;
  top: 0px;
  width: 287px;
}

.text_26 {
  color: #ffffff;
  flex: none;
  flex-grow: 1px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0%;
  line-height: normal;
  position: relative;
  text-align: left;
  vertical-align: top;
}

.box_54 {
  flex: none;
  flex-grow: 0px;
  height: 59px;
  position: relative;
  width: 100px;
}

.text_27 {
  color: #ffffff;
  font-family: Baloo Bhai;
  font-size: 38px;
  font-weight: 400;
  left: 0px;
  line-height: 38px;
  position: absolute;
  text-align: right;
  top: 21px;
  vertical-align: top;
}

.text_28 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 48.087982177734375px;
  letter-spacing: 0%;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  vertical-align: top;
}

.box_106 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  height: auto;
  justify-content: flex-start;
  position: relative;
  width: auto;
}

.box_15 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 1px;
  gap: 14px;
  height: 145px;
  justify-content: flex-start;
  position: relative;
  width: 592px;
}

.box_16 {
  flex: none;
  flex-grow: 0px;
  height: 33px;
  position: relative;
  width: 174px;
}

.image_0 {
  height: 25px;
  width: 173px;
}

.box_17 {
  flex: none;
  flex-grow: 0px;
  height: 30px;
  position: relative;
  width: 130px;
}

.box_18 {
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.image_2 {
  bottom: 2%;
  height: 28px;
  left: 2%;
  position: absolute;
  right: 2%;
  top: 2%;
  width: 28px;
}

.box_19 {
  height: 30px;
  left: 100px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.image_3 {
  bottom: 2%;
  height: 28px;
  left: 2%;
  position: absolute;
  right: 2%;
  top: 2%;
  width: 28px;
}

.box_20 {
  height: 30px;
  left: 50px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.box_21 {
  border-color: rgba(255, 255, 255, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  flex: none;
  flex-grow: 0px;
  position: relative;
  transform: rotate(-91deg);
  width: 156px;
}

.box_22 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 1px;
  height: 159px;
  justify-content: space-between;
  position: relative;
  width: 592px;
}

.box_23 {
  flex: none;
  flex-grow: 0px;
  height: 159px;
  position: relative;
  width: 197px;
}

.text_6 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 47.7578125px;
  vertical-align: top;
}

.text_7 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  vertical-align: top;
}

.text_8 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 78.7578125px;
  vertical-align: top;
}

.text_9 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 109.7578125px;
  vertical-align: top;
}

.text_10 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 140.7578125px;
  vertical-align: top;
}

.box_24 {
  flex: none;
  flex-grow: 0px;
  height: 159px;
  position: relative;
  width: 197px;
}

.text_11 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 47.7578125px;
  vertical-align: top;
}

.text_12 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  left: 0px;
  line-height: 27px;
  position: absolute;
  text-align: left;
  top: 0px;
  vertical-align: top;
}

.text_13 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 78.7578125px;
  vertical-align: top;
}

.text_14 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 109.7578125px;
  vertical-align: top;
}

.text_15 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 140.7578125px;
  vertical-align: top;
}

.box_25 {
  flex: none;
  flex-grow: 0px;
  height: 159px;
  position: relative;
  width: 197px;
}

.text_16 {
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  left: 0px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 47.7578125px;
  vertical-align: top;
}

.ListAll {
  width: 85%;
  margin-bottom: 50px;
}


/* màn hình Máy tính bảng  */

@media(max-width: 1023px) {
  .input_search_address_input, .input_search_name_input, .datetimepicker_1_container, .datetimepicker_1 {
    width: 100%;
  }

  .button_1 {
    width: 12%;
  }

  .ListAll {
    width: 80%;
  }

  .test {
    margin-left: 30px;
    width: 50%;
  }

  .box_4 {
    width: 12%;
  }

  .box_39 {
    width: 20%;
  }

  .box_43 {
    width: 20%;
  }

  .box_47 {
    width: 20%;
  }

  .box_51 {
    width: 20%;
  }
}
.Paginate{
  display: flex;
  justify-content: space-around;
  /* background-color: wheat; */
  border: #60a8ec 1px solid;
  width: auto;
  gap: 20px;
  border-radius: 7px;
}
.Paginate > li{
  font-size: 20px;
  margin: 7px;
   /* border-right: #60a8ec 1px solid; */
   /* background-color: #e23434; */
}
.Paginate > li >a{
  /* background-color: #e23434; */
  /* border-left: #60a8ec 1px solid; */
  color: #000;
  
}
.Paginate > li >a:hover{
  background-color: #f5f5f5;
  
  border-radius: 7px;

  /* border-left: #60a8ec 1px solid; */
}